@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
header .logo,
header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
header .logo {
  border-bottom: 4px solid rgb(220, 220, 220);
}
header .location {
  color: rgb(70, 70, 70);
  background-color: rgb(240, 240, 240);
  font-size: 20px;
}
header .location__text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding-left: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}
