@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

@use '../base/typography' as *;


footer {
  padding: 30px 30px 40px 30px;
  color: white;
  background-color: $darker-grey;
  figure {
    padding-bottom: 30px;
    @include media-large {
      display: flex;
      justify-content: center;
    }
    img {
      width: 140px;
      height: auto;
      filter: invert(100%);
      @include media-large {
        width: 160px;
      }
    }
  }
  ul {
    list-style-type: none;
    @include media-large {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }
    li {
      margin-right: 30px;
      padding-right: 10px;
      padding-bottom: 10px;
      font-size: $button-size;
      @include media-large {
        font-size: 23px;
      }
    }
    .icon-item {
      font-weight: 600;
      .footer-icon {
        margin-right: 20px;
        width: 10px;
        font-size: $base-size;
      }
    }
  }
}