@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

@use '../base/typography' as *;

@use '../components/logo' as *;
@use '../components/cover' as *;


header {
  @include flex-center;
  a {
    @include logo;
    justify-content: flex-start;
    width: 25%;
    color: $darker-grey;
    .header-arrow {
      font-size: 25px;
    }
  }
  .logo {
    @include logo;
    justify-content: flex-start;
    width: 75%;
  }
}

@include cover;

.restaurant-title {
  @include restaurant-title;
  h1 {
    font-weight: 400;
  }
  .heart-icon {
    @include heart-icon;
    color: $background-grey;
    font-size: 28px;
  }
}