@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

@use '../base/typography' as *;
@use '../base/animations' as *;

@use '../components/logo' as *;
@use '../components/cover' as *;


//LOGO AND ARROW DISPLAY ON RESTAURANTS PAGES
header {
  @include flex-center;
  a {
    @include logo;
    justify-content: flex-start;
    width: auto;
    color: $darker-grey;
    .header-arrow {
      font-size: 25px;
    }
  }
  .logo {
    @include logo;
  }
}

//COVER DISPLAY
@include cover;

//RESTAURANT TITLE DISPLAY
.restaurant-title {
  @include restaurant-title;
  h1 {
    font-weight: 400;
  }
  @include heart-icon;
}