@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

@use '../base/typography' as *;
@use '../base/reset';

@use '../components/buttons' as *;


//RESTAURANT PAGE MENU
#menu {
  background-color: $background-grey;
  @include flex-center;
  align-items: initial;
  flex-direction: column;
  .menu__service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 18px;
    h2 {
      align-self: flex-start;
      margin-top: 10px;
      color: $grey;
      font-size : $button-size;
      font-weight: 400;
      @include media-large {
        align-self: center;
        border-bottom: solid 4px $third-color;
        padding-bottom: 6px;
        margin-bottom: 10px;
        
      }
    }
    hr {
      margin-top: 6px;
      margin-bottom: 6px;
      height: 4px;
      width: 50px;
      background-color: $third-color;
      border: none;
      @include media-large {
        display: none;
      }
    }
  }
  
}

//BOUTON COMMANDER
.btn--commander {
  align-self: center;
  padding: 22px 70px;
  margin-top: 40px;
  margin-bottom: 90px;
}

