// Colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$background-grey: rgb(245,245,245);
$grey: rgb(110, 110, 110);
$darker-grey: rgb(70,70,70);
$gradient: linear-gradient(160deg, $secondary-color, $primary-color);

// Breakpoints
$breakpoints: (
  medium: 640px,
  large: 1024px,
);