@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

@use '../base/typography' as *;
  

//RESTAURANTS CARDS HOMEPAGE
@mixin card {
  display: flex;
  justify-content: space-between;
  flex-direction:column;
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
  }
  //Text & Heart Icon
  .infos-fav {
    display: flex;
    justify-content: space-between;
    padding: 10px $base-size;
    height: 30%;
    color: black;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    .infos {
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-right: $base-size;
      font-size: $button-size;
      p {
        color: $grey;
        font-size: 22px;
      }
    }
    .fav {
      @include flex-center;
      padding-bottom: 10px;
      padding-right: 10px;
      @include heart-icon;
    }
  }
}

//MENU RESTAURANTS HOMEPAGE
.cards {
  @include flex-center;
  flex-direction: column;
  @include media-medium {
    flex-direction: initial;
    flex-wrap: wrap;
  }
  article {
    height: 350px;
    width: 100%;
    margin: 15px 0;
    border-radius: 20%;
    box-shadow: 2px 8px 15px lightgrey;

    //Responsive design 640px+
    @include media-medium {
      height: 300px;
      width: 400px;
      margin: 15px 15px;
    }
    .cards__container {
      @include card;
      position: relative;
      // "NOUVEAU"
      &--absolute {
        position:absolute;
        top: 15px;
        right: 15px;
        padding: 10px 15px;
        width: 100px;
        background-color: $third-color;
        color: darken($third-color, 40%);
        font-size: $base-size;
        font-weight: bold;
      }
    }
  }
}