@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

@use '../base/typography' as *;


//Slide Menu
.btn--white {
  position: relative;
  top: -30px;
  opacity: 0;
  animation-name: slide;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.7s;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  overflow: hidden;
  .infos-plat {
    padding: 18px 18px;
    width: 100%;
  }
  //Dish Selection
  .check-anim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    border-radius: 0 20px 20px 0;
    background-color: $third-color;
    color: white;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-duration: 500ms;
    .check {
      font-size: $title-size;
      transform:rotate(-1turn);
    }
  }
  &:hover {
    .check-anim {
      width: 120px;
      transform-origin: right;
      -webkit-transform-origin: right;
      transform:translate(-0px);
      .check {
        animation: check 500ms ease-in-out 1 forwards;
      }
    }
  }
}

@keyframes slide {
  0% {top: -100px; opacity: 0;}
  100% {top: 0; opacity: 1;}
}

@keyframes check {
  0% {transform:rotate(-360deg)}
  100% {transform:rotate(360deg)}
}
