@use '../utilities/variables' as *;

@use '../base/typography' as *;


//Slide Menu
.menu__entrees {
  .btn--white {
  animation: slide 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s forwards;
  opacity: 0;
  }
}

.menu__plats {
  .btn--white {
  animation: slide 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s forwards;
  opacity: 0;
  }
}

.menu__desserts {
  .btn--white {
  animation: slide 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1.3s forwards;
  opacity: 0;
  }
}



.btn--white {
  overflow: hidden;
  .infos-plat {
    padding: 18px 18px;
    width: 100%;
  }
  //Dish Selection
  .check-anim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    border-radius: 0 20px 20px 0;
    background-color: $third-color;
    color: white;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-duration: 500ms;
    .check {
      font-size: $title-size;
      transform:rotate(-1turn);
    }
  }
  &:hover {
    .check-anim {
      width: 120px;
      transform-origin: right;
      -webkit-transform-origin: right;
      transform:translate(0px);
      .check {
        animation: check 500ms ease-in-out 1 forwards;
      }
    }
  }
}

//Heart Icon
@mixin heart-icon {
  .fav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    .heart-icon {
      position: absolute;
      background: transparent;
      font-size: 30px;
    }
    .heart-icon--opacity {
      position: absolute;
      font-weight: 900;
      background-image:$gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;
      transition: opacity 500ms ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes slide {
  0% {
    transform:translateY(-100px); 
    opacity: 0;
  }
  100% {
    transform:translateY(0);
    opacity: 1;
  }
}

@keyframes check {
  0% {
    transform:rotate(-360deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
