@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

$title-font: 'Shrikhand', cursive;
$text-font: 'Roboto', sans-serif;

$base-size: 18px;
$button-size: 21px;
$title-size: 30px;
