@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
@use '../base/typography' as *;
@use '../components/buttons' as *;

#title {
  @include flex-center;
  flex-direction: column;
  padding: 50px 35px;
  background-color: $background-color;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 30px;
  }

  p {
    padding: $base-size 0;
    color: rgb(110,110,110);
    font-size: 24px;
  }

  .btn--gradient {
    @include gradientButton;
  }
}

