@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

@use '../base/typography' as *;

@use '../components/buttons' as *;
@use '../components/cards' as *;
@use '../components/logo' as *;


.home-header {
  @include flex-center;
  flex-direction: column;
  @include media-tablet {
    flex-direction: row;
    margin : 0;
  }
  .logo {
    @include logo;
    img {
    width: 220px;
    height: auto;
    }
  }
  .location  {
    @include logo;
    padding-left: 125px;
    border-top: 4px solid rgb(190,190,190);
    color: $darker-grey;
    background-color: rgb(230,230,230);
    font-size: 20px;
    @include media-tablet {
      padding: 24px;
    }
    &__text {
      padding-left: $base-size;
      font-family: $text-font;
      font-weight: 900;
      background-color: transparent;
      border-color: transparent;
    }
  }
}

#title,
#fonctionnement,
#restaurants {
  @include flex-center;
  flex-direction: column;
  padding: 60px 20px;
}

#title {
  background-color: $background-grey;
  text-align: center;
  h1 {
    margin: 0;
    font-size: $title-size;
  }
  p {
    padding: $base-size 0;
    color: $grey;
    font-size: 24px;
  }
}

.section-title {
  align-self: flex-start;
  font-size: $title-size;
  margin-bottom: $base-size;
}

#fonctionnement {
  align-items: initial;
  .menu {
    list-style-type: none;
    counter-reset: item;
    @include media-tablet {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    li:before {
        content: counter(item) "  ";
        counter-increment: item;
        margin-left: -30px;
        padding: 8px 10px;
        font-size: 16px;
        color: lighten($primary-color, 35%);
        background-color: $primary-color;
        border-radius: 50%;
    }
  }
}

#restaurants {
  background-color: $background-grey;
  align-items: initial;
}
